.message {
    color: #3C3C3C;
    background-color: #d7d7d7;
    border-radius: 10px;
    margin-bottom: 2px;
    padding: 3px;
    width: 50%;
    text-align: center;
}

.myMessage {
    margin-left: 48%;
}

.otherMessage {

}