.friend {
    padding: 5px;
    color: white;
    font-size: 0.6em;
    margin: 2px;
    text-align: center;
    border: white 2px solid;

    min-width: 70px;
    max-width: 110px;
    display: inline-block;
}

.friend img {
    height: 30px;
    width: 30px;
    border-radius: 15px;
}