.nav {
    grid-area: n;
    background-color: #454545;
    padding: 60px 10px 0 10px;
    min-width: 90px;

    display: grid;

    grid-template-areas: "m" "f";
    grid-template-rows: 120px 1fr;

}