.nav {
    grid-area: n;
    background-color: #454545;
    padding: 1.2em;
}

.item {
    color: white;
    font-size: 1.2em;
}

.item a {
    text-decoration: none;
    color: white;
}

.item a.active {
    color: gold;
}