.item {

    border-top: white 3px solid;
    min-height: 51px;

    display: grid;

    grid-template-areas: "a m" "a l";
    grid-template-columns: 60px 1fr;
}

.ava {
    grid-area: a;
}

.ava img{
    width: 50px;
    height: 50px;
    border-radius: 30px;
    float: left;
    margin: 1px;
}

