.dialogs {
    display: grid;

    grid-template-rows: 20px 1fr;
    grid-template-columns: 2fr 10fr;
}

.messages {
    padding: 10px;
}

.dialogItems {
    padding: 10px;
    font: bold 1.1em Arial;
}

.dialogItems .active {
    color: #393939;
}
