.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    height: 100%;
}

/*DIALOG*/
.dialogItems {
    padding: 0 0 0 2px;
    font: bold 1em Arial;
    background-color: #9A9A9A;
}

/*MESSAGES*/
.message {
    padding: 5px;
    height: 100%;

    display: grid;
    grid-template-rows: repeat(auto-fill, 1fr) 1fr;
}

.textArea {
    border-radius: 15px;
    padding: 10px;
}


.sendButton {

}
